#tmpl_people_of_interest{style: 'display: none;'}
  %h4{colspan: 4}
    #{t('admin.i_follow')}
  %table
    {i_follow}
  %h4{colspan: 4}
    #{t('admin.i_want_to_follow')}
  %table
    {follow_me}

#tmpl_people_i_follow{style: 'display: none;'}
  -#%tbody#i_follow
  %tr{data: {userId: '{user_id}'}}
    %td
      %img{tmpl: {src: '{peer_foto_url}'}, style: 'max-width: 35px !important;'}
    %td
      {username}
    %td{width: 15}
      &nbsp;
    %td
      = link_to '{last_location}', '#', onclick: "javascript:APP.loadLocation({id: {lastLocationId}, lat: {lastLat}, lng: {lastLng}, address: '{lastAddress}'.trim()!='' ? '{lastAddress}' : null});"

#tmpl_people_follow_me{style: 'display: none;'}
  -#%tbody#follow_me
  %tr{data: {userId: '{user_id}'}}
    %td
      {username}
    %td{width: 15}
      &nbsp;
