#sign_in_modal{data: {role: 'popup', 'overlay-theme' => 'a', theme: 'a'}}
  %div{data: {role: 'header'}}
    %h4.ui-title Sign In
  %div{role: 'main'}
    = form_for(resource, as: resource_name, url: session_path(resource_name), :remote => true, :format => :js, :html => {id: 'new_session', :class => "form-signin"}) do |f|
      = f.email_field :email, id: 'auth_email', :autofocus => true, :label => false, :input_html => {:class => 'form-control'}, :placeholder => "Email"
      = f.password_field :password, id: 'auth_password', :label => false, :input_html => {:class => 'form-control'}, :placeholder => "Password"
      %a{ :href => "#", :class => "btn btn-sm", data: { role: 'button', rel: 'back' } } Cancel
      = f.submit "Sign In", :class => "btn btn-sm"