#content_help{style: 'display: none;'}
  %p
    %h4 Einträge erstellen
    Mit einem Doppelklick auf den Marker wird ein Eintrag erstellt. Ein Eintrag besteht aus einer Medien-Datei und einem Text. Andere Benutzer können einen Eintrag kommentieren, wobei dem Kommentar selbst auch wieder eine Datei angeheftet werden kann.
    %h4 Online / Offline
    Im Offline-Modus kann man sehen welche Karten-Kacheln bislang lokal gespeichert wurden.
