/ @see layouts/application.mobile.html.haml
/= render partial: '/shared/upload_data.mobile', locals: {resource: Upload.new, resource_name: :upload}

/ @see layouts/application.mobile.html.haml
/= render partial: '/uploads/upload_comment.mobile', locals: {resource: Upload.new, resource_name: :upload}

%iframe{id: "upload_target", name: "upload_target", style: "display:none;"}
