%span{style: 'float: left;'}
  %button{id: 'media_input_init'}
    #{t('uploads.start_camera')}
  = link_to '', '#media_input_panel', id: 'media_input_panel_show'
#upload_form_ui
  #media_input_container{style: 'display: none; text-align: center;'}
    %img{id: 'media_input_current', src: ''}
    .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{id: 'media_input_upload_btn'}
      .ui-button-text
        #{t('uploads.upload_photo').html_safe}
