#photo_nav_panel{data: {role: 'panel', dismissible: 'false', animate: 'true', display: 'overlay'}}
  %div{style: 'float: right; padding: 0px 0px 0px 10px;'}
    %span.ui-icon.ui-icon-circle-close{onclick: '$("#photo_nav_panel").panel("close");'}
  %h4
    Points of Interest:
  #pois_preview
    -#= render partial: 'pois_preview'
  %br
  .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{onclick: '$("#photo_nav_panel").panel("close");'}
    .ui-button-text
      Close Panel

#tmpl_swiper_slide{style: 'display: none;'}
  %span.swiper-slide{data: {poiId: '{poiId}', poiNoteId: '{poiNoteId}', address: '{address}'}, style: 'width: {width}px;'}
    %img{tmpl: {src: '{attachment_url}'}, style: "width: {width}px; height: {height}px;"}

- max_height = 100.0
- max_width = 300
- swiper_style = "width: #{max_width}px; height: #{max_height.to_i}px;"
= javascript_tag do
  $("head").append("<style type='text/css'>.swiper-container { #{swiper_style} }</style>");
