<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>

# feu: [51.3767, 7.49389]
window.defaultLatLng = [51.3767, 7.49389]
#window.defaultLatLng = [0, 0]
jQuery ->
  comm = null
  window.markerManager = null
  window.commListeners = {
                           system: [],
                           talk: [],
                           mapEvents: [],
                           uploads: []
                         }

  selectedPositionLatLng = [-1, -1]

  window.photoClicked = (swiper) ->
    $('#current_address').html($(swiper.clickedSlide).attr('data-address'))
    panUpload($(swiper.clickedSlide).attr('data-id'))

  window.photoChanged = (swiper) ->
    $('#current_address').html($(swiper.activeSlide()).attr('data-address'))

  #  onSlideClick: window.photoClicked,
  window.mySwiper = $('.swiper-container').swiper({
    mode:'horizontal',
    loop: false,
    freeModeFluid: true,
    onSlideChangeEnd: window.photoChanged
  })

  window.toggleNetworkState = (selected) ->
    if selected.id == 'network_state_online'
      VoyageX.MapControl._instance().setOnline()
    else
      VoyageX.MapControl._instance().setOffline()

  window.openUploadCommentControls = (upload_id) ->
    #$("#upload_comment_conrols").css('display', 'block')
    VoyageX.NavBar.menuNavClick('map')
    unless window.isMobile()
      $("#upload_comment_conrols").dialog("open")

  $('#add_upload_comment_btn').on 'click', (event) ->
    upload_id = $('#add_upload_comment_upload_id').val()
    $.ajax
      type: 'POST'
      dataType: 'script'
      url: '<%= create_upload_comment_path(upload_id: '') %>'+upload_id
      data: { _method: 'put',\
              user_id: $('#current_user_id').val(),\
              text: $('#add_upload_comment_text').val() }
    $('#add_upload_comment_text').val('')
    #$("#upload_comment_conrols").css('display', 'none')
    if window.isMobile()
      #if $('#upload_comment_conrols').hasClass('ui-popup-active')
      #  $('#upload_comment_conrols').removeClass('ui-popup-active').addClass('ui-popup-hidden')
      $('#upload_comment_cancel').click()
    else
      uploadCommentDialog.dialog("close")

  window.panUpload = (upload_id) ->
    getUploadComments(upload_id)
    if window.isMobile()
      $("#photo_nav_panel").panel("close")

  window.panPosition = (lat, lng, address) ->
    setSelectedPositionLatLng markerManager.get(), lat, lng, address
    map.panTo([lat, lng])
    #map.setView([lat, lng], 16)
    VoyageX.NavBar.menuNavClick('map')

  window.getSelectedPositionLatLng = () ->
    return [selectedPositionLatLng[0], selectedPositionLatLng[1]]

  window.zoomEnd = (e) ->
    $('#zoom_level').html('<span style="color:white;">zoom: '+map.getZoom()+'</span>')

  getUploadComments = (upload_id) ->
    $.ajax
      type: 'GET'
      dataType: 'script'
      url: '<%= upload_comments_path(upload_id: '') %>'+upload_id

  setSelectedPositionLatLng = (marker, lat, lng, address) ->
    if marker == null
      marker = markerManager.add lat, lng, markerEventsCB
    else
      marker = markerManager.sel marker, lat, lng, markerEventsCB
    selectedPositionLatLng[0] = lat
    selectedPositionLatLng[1] = lng
    if address != null
      $('#current_address').html(address) 

  publishPosition = () ->
    comm.send('/map_events', {type: 'click',\
                              userId: $('#current_user_id').val(),\
                              lat: selectedPositionLatLng[0],\
                              lng: selectedPositionLatLng[1]})

  initPositionCB = (position) ->
    address = null
    marker = markerManager.sel null, position.coords.latitude, position.coords.longitude, markerEventsCB
    setSelectedPositionLatLng marker, position.coords.latitude, position.coords.longitude, address
    map.panTo([position.coords.latitude, position.coords.longitude])
    #map.setView [position.coords.latitude, position.coords.longitude], 16
    publishPosition()

  systemCB = (message) ->
    console.log 'got a system - message: ' + message.type
    #Object.keys(window.commListeners).every (channel) ->
    if message.type == 'handshake'
      alert('handshake')
    else if message.type == 'subscription_notification'
      for channel in ['talk', 'mapEvents', 'uploads']
        for peer in message.peers
          console.log 'subscribing: /'+channel+VoyageX.PEER_CHANNEL_PREFIX+peer.channel_enc_key + ' from user ' + peer.user.username
          Comm.register '/'+channel+VoyageX.PEER_CHANNEL_PREFIX+peer.channel_enc_key, eval(channel+'CB')

  talkCB = (message) ->
    console.log 'got a talk - message: ' + message.type
    if $('#current_user_id').val() != message.userId
      $('#message').val('\n-------------------------\n'+message.text+$('#message').val())
      $('#message').selectRange(0) 
      for listener in window.commListeners.talk
        listener(message)

  mapEventsCB = (mapEvent) ->
    console.log 'got a map_events - message: ' + mapEvent.type
    if markerManager.get().getPopup()?
      markerManager.get().unbindPopup()
    if mapEvent.address?
      setSelectedPositionLatLng markerManager.get(), mapEvent.lat, mapEvent.lng, mapEvent.address
    else
      setSelectedPositionLatLng markerManager.get(), mapEvent.lat, mapEvent.lng, null
    map.panTo([mapEvent.lat, mapEvent.lng])
    #map.setView [mapEvent.lat, mapEvent.lng], 16
    for listener in window.commListeners.mapEvents
      listener(mapEvent)

  uploadsCB = (upload) ->
    console.log 'got an uploads - message: ' + upload.type
    maxHeight = 100
    scale = maxHeight / upload.file.height
    width = Math.round(upload.file.width * scale)
    style = 'width:'+width+'px;'
    if upload.file.type == 'image'
     #tag = '<span class="swiper-slide" onclick="panPosition('+upload.location.lat+','+upload.location.lng+',\''+upload.location.address+'\','+upload.file.id+')">'+
      tag = '<span class="swiper-slide" onclick="panUpload('+upload.id+')">'+
            '<img src="'+upload.file.url+'" style="'+style+'">'+
            '</span>'
    $("#upload_preview").prepend(tag)
    mySwiper.reInit()
    #mySwiper.resizeFix()
    for listener in window.commListeners.uploads
      listener(upload)
    if window.isMobile()
      $('a[href=#photo_nav_panel]').click()
    else
      $('#photo_nav_panel').dialog('open')
      if ! $('#photo_nav_panel').parent().hasClass('seethrough_panel')
        $('#photo_nav_panel').parent().addClass('seethrough_panel')

  markerEventsCB = (event) ->
    address = null
    setSelectedPositionLatLng event.target, event.target._latlng.lat, event.target._latlng.lng, address

  $('#message').on 'keyup', (event) ->
    if (event.which == 13 || event.keyCode == 13)
      event.preventDefault()
      endIdx = $(this).val().indexOf('\n---')
      if endIdx == -1
        publishText = $(this).val()
      else
        publishText = $(this).val().substr(0, endIdx)
      comm.send('/talk', {type: 'message',\
                          text: $('#current_user_id').val()+': '+publishText,\
                          userId: $('#current_user_id').val()})
      $(this).val('\n-------------------------\n'+$(this).val())
      $(this).selectRange(0) 
    
  $(document).on 'click', '#clear_cache', (event) ->
    Comm.StorageController.instance().delete('tiles')
    cacheStats()
    
  
  map.on 'click', (event) ->
    address = null
    setSelectedPositionLatLng markerManager.get()||markerManager.add(event.latlng.lat, event.latlng.lng, markerEventsCB), event.latlng.lat, event.latlng.lng, address
    publishPosition()

  $(document).ready () ->
    if navigator.geolocation 
      navigator.geolocation.getCurrentPosition(initPositionCB, (error) ->
          alert('geolocation timed out - manual selection required.\nsetting default location...')
          initPositionCB { coords: { latitude: defaultLatLng[0], longitude: defaultLatLng[1] } }
      , { enableHighAccuracy: true, timeout : 10000 })
    #map.on('locationfound', (e) ->
    #    alert('found location...')
    #  )
    #map.on('locationerror', (e) ->
    #    alert('geolocation timed out - manual selection required.\nsetting default location...')
    #  )
    comm = new Comm.Comm($('#current_user_id').val(),
                         [['/talk', talkCB],
                          ['/map_events', mapEventsCB],
                          ['/uploads', uploadsCB]]
                    systemCB)
    window.markerManager = new VoyageX.MarkerManager(map)
    if window.isMobile()
      map.invalidateSize({
          reset: true,
          pan: false,
          animate: false
        })
    # next statement removes value from inputs!!
    $("#network_state").buttonset()
    $('button[value=camera]').focus()
    zoomEnd(null)
    cacheStats()
    
