// Place all the styles related to the dummy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.talk_message {
  width: 100%;
}

.talk_message_label {
}

#content_uploads {
  padding: 10px 0px 0px 0px;
}

#video_viewer {
  float: left;
}

#video_snapshot {
  float: right;
  margin: 0px 0px 0px 20px;
}

.seethrough_panel {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  /* left: 0px !important; */
}

.ctrls_bar {
  vertical-align: center;
}

#poi_notes_container {
    width: 140px;
    height: 200px;
    border: 1px solid #ccc;

    .pcn-scrollbar {
        width: 10px;
        margin: 4px;
        background-color: #ccc;
        cursor: pointer;

        .pcn-thumb {
            background-color: #aaa;
        }
    }

    .pcn-scrollbar.active {
        .pcn-thumb {
            background-color: #999;
        }
    }
}