// Place all the styles related to the dummy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.talk_message {
  width: 100%;
}

#photo_nav_panel {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

