// Place all the styles related to the dummy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.talk_message {
  width: 100%;
}

#upload_file_container {
  margin: 20px 0px 0px 0px;
}

#photo_nav_panel {
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

#upload_data_panel {
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

.ctrls_bar {
  vertical-align: center;
}
