/$("head").append("<style type='text/css'>#upload_data_panel_content {height:"+($(window).height()-50)+"px !important; overflow: scroll;}</style>");
:javascript
  var photoWidth = Math.round($(window).width() * 0.75);
  var photoHeight = Math.round($(window).height() * 0.75);
  $("head").append("<style type='text/css'>#media_input_capture, #media_input_current {width:"+photoWidth+"px;height:"+photoHeight+"px;}</style>");

#upload_data_panel{data: {role: 'panel', dismissible: 'false', animate: 'true', display: 'overlay'}}
  #upload_data_panel_content
    %div{style: 'float: right; padding: 0px 0px 0px 10px;'}
      %span.ui-icon.ui-icon-circle-close{onclick: '$("#upload_data_panel").panel("close");'}
    #poi_note_input
