#upload_data_panel{data: {role: 'panel', dismissible: 'false', animate: 'true', display: 'overlay'}}
  #upload_data_panel_content
    %div{style: 'float: right; padding: 0px 0px 0px 10px;'}
      %span.ui-icon.ui-icon-circle-close{onclick: '$("#upload_data_panel").panel("close");'}
