-# this is used when uploading with iframe-target
%script
  = render(partial: '/pois/uploaded', formats: [:js], locals: {resource: @upload, poi_note_json: @poi_note_json, window_prefix: 'parent.'}).html_safe
